# -------------------------------
# FastF1 / analytics cache
# -------------------------------
cache/
fastf1_cache/
ff1cache/
*.ff1pkl
*.sqlite

# -------------------------------
# Python junk
# -------------------------------
__pycache__/
*.pyc

# -------------------------------
# OS junk
# -------------------------------
.DS_Store
Thumbs.db
